// search
@import url(./Search.scss);
// search e loading img

//BarraNav
@import url(./BarraNav.scss);
//BarraNav

//pagination
@import url(./Pagination.scss);
//pagination

//description
@import url(./Description.scss);
//description

//informations
@import url(./Informations.scss);
//informations

//BestAnimes
@import url(./BestAnimes.scss);
//BestAnimes

// 
@import url(./carousel.scss);
//

//Geral
@import url(./Geral.scss);
//Geral - caso não ache o que style de alguma tag do componente, estará aqui
//video do description





@media (max-width: 630px) {
  .video_d{
    height: 280px;
  }

  .info_{
    display: block;
  }

  @media (max-width: 480px) {
    .anime-list{
      grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    }
  }
}