$text-color: black;

.App {
  text-align: center;
}

body{
  background-color: $text-color;
  color: white;
}

.animes-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;

    button{
      cursor: pointer;
    }

    img{
      max-width: 100%;
    }

    p{
      display: block;
    }
}