$text-color: black;

.App {
  text-align: center;
}

body{
  background-color: $text-color;
  color: white;
}

.animes-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;

    button{
      cursor: pointer;
    }

    img{
      max-width: 100%;
    }

    p{
      display: block;
    }
}
// search
.search{
  box-sizing: none;
  border: none;
  text-decoration: none;
  
    .search:hover{
      border: none;
    }
}
// search

// loading

.loading_img{
  display: block;
  text-align: center;
  margin-top: 10px ;

    img{
      width: 90px;
      height: 90px;
    }
}

// loading

//descrition
.info_{
  display: flex;
  justify-content: center;
  align-items: center;
    div{
      color: chartreuse;
      margin-left: 30px;
    }

}

.description_text{
    display: flex;
    justify-content: center;
    align-items: center;
      p{
        max-width: 500px;
      }
}

//descrition

//informations
.informations{
  text-align: left;
  margin-left: 30px;
}
//informations